body{
    background-color:rgb(238, 130, 130);
}
.card{
    height: auto;
    width: 400px;
    border: 2px solid red;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 5px 8px 5px red;
}
.searchBar{
    text-align: center;
}
.searchBar button {
    background-color: red;
    color: white;
    border-radius: 3px;
    margin-left: 3px;
}
.searchBar input {
    padding: 10px;
    border-radius: 4px;
}